.design-block {
    width: 200px;
    background-color: #A47864;
}

body {
 background-color: #f8f6f1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: clamp(16px, 5vw, 64px);
    padding-right: clamp(16px, 5vw, 64px);
    max-width: 1440px;
    margin: auto;
}

h1, h2, h3 {
    margin: 0px;
}

button {
    background-color: #c2947f82;
    color: #5a3e36;
    border-width: 0px;
}

button:hover {
    background-color: #c2947f;
}

#logo {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 5px;
}

#logo > a {
  color: inherit; /* Или укажите конкретный цвет, например, black */
  text-decoration: none;
}

/* ===== Навигация ===== */
#nav-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
}

#nav-list a {
    text-decoration: none;
    color: #222;
    font-weight: 400;
    transition: color 0.3s;
    border-bottom: 1px solid #5a3e36;
}

#nav-list a:hover {
    color: #5a3e36;
    border-bottom: 2px solid #5a3e36;
}

/* ===== Кнопка-бургер ===== */
#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

/* ===== Адаптация под мобильные ===== */
@media (max-width: 992px) {
    header {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #menu-toggle {
        display: block;
    }

    nav {
        width: 100%;
        max-height: 0;
        transition: max-height 0.4s ease;
    }

    #nav-list {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    #nav-list.active {
        max-height: 500px; /* раскрытие меню */
    }

    nav.active {
        max-height: 500px; /* раскрытие меню */
    }
}

#about-background {
    width: 100%;
    background-color:#F1F0E2;
}

.about-describe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 52px;
    max-width: 1200px;

}

.about-describe.content {
    padding: 50px 64px;
}

@media screen and (max-width: 1200px) {
    .about-describe.content {
        padding: 40px 26px;
    }
}

@media screen and (max-width: 992px) {
    .about-describe.content {
        padding: 32px 16px;
    }
}

@media screen and (max-width: 768px) {
    .about-describe.content {
        flex-direction: column;
        text-align: center;
        gap: 24px;
        padding: 16px 8px;
    }
}

.about-text {
    flex: 1;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img > img {
    max-width: 70%;
    height: auto;
    display: block;
}

@media screen and (max-width: 768px) {
    .about-img > img {
        max-width: 80%;
    }
}

.content {
    padding: 112px 64px;
    max-width: 1440px;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .content {
        padding: 40px 26px;
    }
}

@media screen and (max-width: 992px) {
    .content {
        padding: 32px 16px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 16px 8px;
    }
}

.section {
    padding-top: 112px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

@media screen and (max-width: 1200px) {
    .section {
        padding-top: 40px;
        gap: 35px;
    }
}

@media screen and (max-width: 992px) {
    .section {
        padding-top: 32px;
        gap: 28px;
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding-top: 16px;
        gap: 14px;
    }
}

.section:nth-child(1) {
    padding-top: 0px;
}

.level-about {
    display: flex;
    justify-content: space-between;
    gap: 0px 80px;
}

.level-header {
    min-width: 40%;
    width: 40%;
}

.level-describe {
    
}

@media screen and (max-width: 1200px) {
    .level-about {
        gap: 0px 50px;
    }

    .level-header {
        width: 100%;
    }
    
    .level-describe {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .level-about {
        flex-direction: column;
        gap: 0px 0px;
    }

    .level-header {
        width: 100%;
    }
    
    .level-describe {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .level-about {
        flex-direction: column;
        gap: 0px 0px;
    }

    .level-header {
        width: 100%;
    }
    
    .level-describe {
        width: 100%;
    }
}


/* subjects-list */

.subjects-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    row-gap: 42px;
    column-gap: 32px;
}

.subjects-list > * {
    box-sizing: border-box;
}

.subjects-list > .subject {
    margin-bottom: 0;
    width: calc(33.3% - (32px / 3) * 2);
    background-color: #f3e6d3; /*понравилось - #f3e6d3 и #e2d3b3*/
    border-radius: 2%;
    padding: 8px;
    box-shadow: 0px 0px 4px #3a3a3a ;
}

@media screen and (max-width: 1200px) {
    .subjects-list {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
        row-gap: 24px;
        column-gap: 24px;
    }

    .subjects-list > * {
        box-sizing: border-box;
    }
}

@media screen and (max-width: 992px) {
    .subjects-list {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
        row-gap: 12px;
        column-gap: 12px;
    }

    .subjects-list > * {
        box-sizing: border-box
    }

    .subjects-list > .subject {
        width: calc(50% - 12px / 2);
    }
}

@media screen and (max-width: 768px) {
    .subjects-list {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
        row-gap: 8px;
        column-gap: 8px;
    }

    .subjects-list > * {
        box-sizing: border-box
    }

    .subjects-list > .subject {
        width: calc(50% - 8px / 2);
    }
}

.subject {

}

.subject-image-preview {
    width: 100%;
    border: 1px solid #b8a890;
    border-radius: 5px;
    margin: 0px;
}

/* Полезные материалы */

.material {
    display: flex;
    flex-direction: column;
    padding: 56px 0px;
    gap: 16px;
}

.about-material {
    width: 100%;
    background-color: #f3e6d3;
}

.material-details {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .material {
        padding: 40px 26px;
        gap: 13px;
    }
}

@media screen and (max-width: 992px) {
    .material {
        padding: 32px 16px;
        gap: 8px;
    }
}

@media screen and (max-width: 768px) {
    .material {
        padding: 16px 8px;
        gap: 4px;
    }
}

/* Roadmap */

.roadmap-img {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .roadmap-img {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .roadmap-img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .roadmap-img {
        width: 100%;
    }
}

footer {
    position: relative;
    z-index: 1;
    text-align: center;
    border-top: solid 1px #d2d7dc;
    color: #a2a7ac;
    padding-top: 4em;
    margin-top: 6em;
}