---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<BaseLayout title="О проекте — Computer Graphics Roadmap">
  <Header />

  <div class="content">
    <h2>С чего все начиналось</h2>
    <p>
      Со школьных времен я самостоятельно изучал программирование, и так сложилось, что все изученное я конспектировал, собирал заметки, книги и ресурсы. Постепенно они оформились в структуру — целую экосистему знаний. В какой-то момент я понял, что я проделал большой путь в программировании и получил профильное образование по вычислительной математике.
      Теперь я хочу поделиться этим знанием и опытом с теми, кто изучает компьютерную графику — помочь избежать хаоса и дать опору в виде проверенной системы.
    </p>
  </div>

  <Footer />
</BaseLayout>
